services:
  tak-server:
    build:
      context: .
    image: tak-server:dev
    ports:
      - "8087:8087"
      - "8089:8089"
      - "8088:8088"
      - "8446:8446"
    environment:
      TAK_BIND_HOST: "0.0.0.0"
      TAK_COT_PORT: "8087"
      TAK_COT_SSL_PORT: "8089"
      TAK_ADMIN_PORT: "8088"
      TAK_IDLE_TIMEOUT_SECONDS: "120"
      TAK_QUEUE_SIZE: "500"
      TAK_DB_PATH: "/app/data/tak_server.db"
      TAK_DATA_DIR: "/app/data"
      TAK_DEFAULT_GROUP_NAME: "default"
      TAK_BOOTSTRAP_ADMIN_USERNAME: "admin"
      TAK_BOOTSTRAP_ADMIN_PASSWORD: "admin12345"
      TAK_REQUIRE_CLIENT_AUTH: "false"
      TAK_ALLOW_PASSWORD_AUTH: "true"
      TAK_CERT_AUTH_ENABLED: "true"
      TAK_CERT_AUTO_PROVISION: "true"
      TAK_TLS_ENABLED: "false"
      TAK_TLS_REQUIRE_CLIENT_CERT: "false"
      TAK_TLS_CA_FILE: "/app/certs/ca.crt"
      TAK_TLS_CERT_FILE: "/app/certs/server.crt"
      TAK_TLS_KEY_FILE: "/app/certs/server.key"
      TAK_TLS_LETSENCRYPT_DOMAIN: ""
      TAK_TLS_LETSENCRYPT_DIR: "/etc/letsencrypt/live"
      TAK_PUBLIC_HOST: ""
      TAK_ENROLL_ENABLED: "true"
      TAK_ENROLL_PORT: "8446"
      TAK_ENROLL_TRUSTSTORE_P12_FILE: "/app/certs/truststore-YOUR-CA.p12"
      TAK_ENROLL_LETSENCRYPT: "false"
    volumes:
      - tak-server-data:/app/data
      - ./certs:/app/certs:ro
      - ./letsencrypt:/etc/letsencrypt:ro

volumes:
  tak-server-data:
